<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card chat-app">
        <div id="plist" class="people-list">

          <!-- <h2> liste contact</h2> -->
          <ng-content select=".tr-nav"></ng-content>

        </div>


        <div class="chat">
          <div class="chat-header clearfix">
            <!-- <h2> chat header</h2> -->
            <ng-content select=".tr-header"></ng-content>

          </div>


          <div class="chat-history">
            <!-- <h2> chat story</h2> -->


          </div>


          <div class="chat-message clearfix">
            <!-- <h2> chat footer</h2> -->
            <ng-content select=".tr-footer"></ng-content>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>







<!-- <div class="d-flex flex-column">

  <!--header
  <header class="">
    <ng-content select=".tr-header"></ng-content>

    <div>
          <span>LOGO</span>
    </div>

    <div>
      <span>RECHERCHE</span>
    </div>

    <div>
      Help + User info
    </div>
  </header>

  <div class="d-flex flex-column flex-md-row ">

    <nav class="col-12 col-md-2 d-flex flex-column  ">

      <div>
        <ul class="d-flex "></ul>
        <li>menu1</li>
        <li>menu2</li>
        <li>plus ...</li>
      </div>
      <!-- list des canaux
      <div>
        <ul class="d-flex flex-column ">
          <li>#general</li>
          <li>#formation</li>
          <li>#projG1</li>
          <li>#projG2</li>
          <li>#projG3</li>
        </ul>
      </div>
      <!-- Messages direct
      <div>
        <ul class="d-flex flex-column">
          <li>user1</li>
          <li>user2</li>
          <li>user3</li>
          <li>uer4</li>
          <li>user5</li>
          <li>user6</li>
        </ul>
      </div>
    </nav>

    <!-- chat body-
    <div class="col-12 col-md-10 d-flex">
      corps des exchanges messages
    </div>

  </div>



  <footer class="col-12">
    footer
  </footer> -->
