<div class="d-flex flex-column">

  <!--header -->
  <header class="">
    <ng-content select=".tr-header"></ng-content>

    <!-- <div>
          <span>LOGO</span>
    </div>

    <div>
      <span>RECHERCHE</span>
    </div>

    <div>
      Help + User info
    </div> -->
  </header>

  <div class="d-flex flex-column flex-md-row ">
    <!-- Navigation-->
    <nav class="col-12 col-md-2 d-flex flex-column  ">

      <div>
        <ul class="d-flex "></ul>
        <li>menu1</li>
        <li>menu2</li>
        <li>plus ...</li>
      </div>
      <!-- list des canaux-->
      <div>
        <ul class="d-flex flex-column ">
          <li>#general</li>
          <li>#formation</li>
          <li>#projG1</li>
          <li>#projG2</li>
          <li>#projG3</li>
        </ul>
      </div>
      <!-- Messages direct-->
      <div>
        <ul class="d-flex flex-column">
          <li>user1</li>
          <li>user2</li>
          <li>user3</li>
          <li>uer4</li>
          <li>user5</li>
          <li>user6</li>
        </ul>
      </div>
    </nav>

    <!-- chat body-->
    <div class="col-12 col-md-10 d-flex">
      corps des exchanges messages
    </div>

  </div>



  <footer class="col-12">
    footer
  </footer>
