<!-- <p> bienvenu surmon application qui s'appel {{title}}</p> -->
<app-ui>
  <!-- <button class="tr-btn">open/close</button> -->
  <app-icon-close class="tr-btn"></app-icon-close>
  <app-icon-nav class="tr-btn"></app-icon-nav>
  <app-header class="tr-header"></app-header>
  <app-nav class="tr-nav"></app-nav>
  <app-footer class="tr-footer"></app-footer>
</app-ui>


















<!-- <app-ui2>
  <div class="tr-header d-flex col-12 justify-content-between">
    <div>
      <span>LOGO</span>
    </div>

    <div>
      <span>RECHERCHE</span>
    </div>

    <div>
      Help + User info
    </div>
  </div>
</app-ui2> -->
